@{
    ViewBag.Title = "Homepage";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Patients</h2>
        <p>
            Here you can add new patients, remove patients and edit the information about your patients.
        </p>
        @Html.ActionLink(HttpUtility.HtmlDecode("Manage Patients &raquo;"), "Index", "ManagePatients", null, new { @class = "btn btn-primary btn-block" })
    </div>
    <div class="col-md-4">
        <h2>Manage Exams</h2>
        <p>Here you can add new types of exams, remove exams and edit already existing exams.</p>
        @Html.ActionLink(HttpUtility.HtmlDecode("Manage Exams &raquo;"), "Contact", "Home", null, new { @class = "btn btn-primary btn-block" })

    </div>
    <div class="col-md-4">
        <h2>Fill out Exam-results</h2>
        <p>Here you can fill out the results for the exam performed on a patient.</p>
        <p><a class="btn btn-primary btn-block" href="">Fill out Exam-results &raquo;</a></p>
    </div>
</div>